.navbar {
  background-color:#626262
}

.navbar-nav .nav-link {
  margin-right: 10px;
  margin-left: 10px;
}

#box-title {
  margin-left : 30px;
}

#new-post-card{
  background-color:lightgrey;
 
}

#postArea, #post-title{
  margin-top:5px;
}

#post-submit-button{
  margin-top:5px;
}